.search-input {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30px;

  border-radius: 2px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  padding-left: 10px;
  transition-duration: 0.4s;
}

.search-form {
  padding: 0 38px 10px 40px;
}

:where(.css-dev-only-do-not-override-1jyprxx).ant-input {
  padding: 3px 0px 3px 5px;
}
